KUBERNETES_VERSION=v1.37.0
KINE_VERSION=v0.16.5
KINE_ENDPOINT=postgres://user:password@postgres.example.com:5432/kine
TALOS_CSR_SIGNER_IMAGE=ghcr.io/clastix/talos-csr-signer@sha256:827b62b5fc2859d66f06f5c1f8d2473ab7109d0600d551269d8ddb98e4a39a18
